@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

@font-face {
  font-family: "Black Goth";
  src: url("/fonts/black-goth-font/BlackgothRegular-xRg40.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
